<nav class="navbar navbar-expand-lg bg-white fixed-top shadow-sm" style="z-index: 999;">
  <div class="container">
    <a class="navbar-brand">
      <img ngSrc="./assets/logo.png" alt="" height="95.9" width="86.1">
    </a>
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">ACCUEIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A PROPOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NOUS CONTACTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-lg action" href="#">Promouvoir un produit</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
