<footer class="p-3">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto d-flex justify-content-around align-items-center">
        <p class="mb-0 text-white">
          Abonnez-vous à notre newsletter
        </p>
        <form action="" class="d-flex align-items-center">
          <input type="email" class="m-2" placeholder="Adresse email">
          <button class="p-2">S'abonner</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 mx-auto">
        <img ngSrc="./assets/logo_without_bg.png" alt="" class="text-center" width="256" height="223">
        <p class="">
          Lorem ipsum dolor sit amet consectetur. Aliquet nibh magna nec morbi tellus pellentesque id malesuada. Pretium nam amet quis nisl sed feugiat arcu fusce.
        </p>
      </div>

      <div class="col-lg-3 mx-auto links">
        <h6 class="h6 mb-4">Lien Rapides</h6>
        <p> <span class="d-inline-block circle"></span> <a href="#" class="text-decoration-none">Accueil</a></p>
        <p> <span class="d-inline-block circle"></span> <a href="#" class="text-decoration-none">Promouvoir un produit</a></p>
        <p> <span class="d-inline-block circle"></span> <a href="#" class="text-decoration-none">A propos</a></p>
        <p> <span class="d-inline-block circle"></span> <a href="#" class="text-decoration-none">Nous contacter</a></p>
      </div>

      <div class="col-lg-3 mx-auto contacts">
        <h6 class="h6 mb-4">Nos contacts</h6>
        <p class="mb-0"><mat-icon class="mb-0" fontIcon="call"></mat-icon> <span class="align-super">+243 800 000 000</span></p>
        <p><mat-icon class="mb-0" fontIcon=""></mat-icon> <span class="align-super">+243 900 000 000</span></p>
        <p><mat-icon class="mb-0" fontIcon="mail"></mat-icon> <span class="align-super">Info&#64;madein243.com</span></p>
        <p><mat-icon class="mb-0" fontIcon="location_on"></mat-icon> <span class="align-super">6, tabora Kinshasa/Gombe, Ref:Orca</span></p>
        <p>Suivez-nous sur</p>
        <p class="">
          <a href="#" class="mx-1"><img src="./assets/facebook.png" alt=""></a>
          <a href="#" class="mx-1"><img src="./assets/instagram.png" alt=""></a>
          <a href="#" class="mx-1"><img src="./assets/youtube.png" alt=""></a>
          <a href="#" class="mx-1"><img src="./assets/linkedin.png" alt=""></a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <p class="text-center">
          <img ngSrc="./assets/copyright.png" alt="" width="25" height="25">
          Madein243 All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
