.btn-blue {
  color: white;
  border: 1px solid #0080FF;
  background: #0080FF;
}

.btn-blue:hover {
  color: white;
  border: 1px solid rgba(94, 175, 255, 0.96);
  background: rgba(94, 175, 255, 0.96);
}
.btn-green {
  color: white;
  border: 1px solid rgba(0, 147, 32, 1);
  background: rgba(0, 147, 32, 1);
}

.btn-green:hover {
  color: white;
  border: 1px solid rgba(45, 200, 79, 0.89);
  background: rgba(45, 200, 79, 0.89);
}
