.example-accordion-item {
  display: block;
  //border: solid 1px #ccc;
  border-bottom: solid 1px rgba(205, 0, 0, 1);
}

//.example-accordion-item + .example-accordion-item {
//  border-top: none;
//}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 2rem;
  color: rgba(205, 0, 0, 1);
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  //background-color: rgba(238, 238, 238, 0.46);
}
